.groups {
  position: relative;
}

.group {
  border-bottom-color: rgba(221,221,221,0.1);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  width: 100%;

  &:hover {
    background-color: rgba(221,221,221,0.1);
    color: #fff;
  }
}
