@import '../mixins/wow_text';

main {
  flex-grow: 1;
}

.groups {
  position: relative;
}

.group {
  border-bottom-color: rgba(221,221,221,0.1);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  font-family: 'Fondamento', cursive;
  width: 100%;

  &:hover {
    background-color: rgba(221,221,221,0.1);
    color: #fff;
    cursor: pointer;
  }
}

.test-groups-header {
  font-size: 175%;
  margin-bottom: 20px;
}

.tutorial {
  h4 {
    @include wowtext;
    font-size: 170%;
  }

  & > p {
    font-size: 135%;
    font-family: 'Fondamento', cursive;
  }

  .corrupted-blood {
    @include corruptedblood;
  }
}

.server-region-selection {

}
