.modal-background {
  background-color: rgba(217, 217, 217, 0.37);
}

.modal-close {
  background-color: orange;
}

.request_application {
  background-color: #211b17;
  border-radius: 0.5rem;
  padding: 1.5rem 1.5rem;
}

.level_character_ign {
  margin-top: 3rem;
}

.noUi-target {
  margin-bottom: .35rem;
  margin-right: 1.5rem;
}

.noUi-connects {
  background-color: #372015;
}

.noUi-touch-area {
  background-color: #211b17;
}

.noUi-tooltip {
  background-color: #211b17;
  color: #fff;
}

.input {
  background-color: #211b17;
  color: #ababab;
}

.input::placeholder, .textarea::placeholder, .select select::placeholder {
  color: #808080;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #808080;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #808080;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #ababab;
}
