<%= form_with model: @request_application do |form| %>
  <div class="request_application_character">
    <label class="">Character IGN:</label>
    <input name="character" class="input" type="text" placeholder="Character IGN">
  </div>


<% end %>
