<div class="">
  <h4>World of Warcraft Groups</h4>
  <p>
    Sweet, simple, and for the explicit idea of allowing players to quest or
    even be on another character while setting up dungeon / raid / any groups.
  </p>
  <p>
    Just sign in with your Blizzard account and pick your character's name
    because Blizzard's api has decided I cannot see your Classic characters
    which was the whole point of me using their api.
  </p>
  <p>
    Corrupted Blood take me now.
  </p>
  <p>
    Simply pick a region and a server from that region to see current groups
    while also being able to create your own groups.
  </p>
</div>
