<main class="section groups"
  data-controller="home-page--scrollbar"
  data-action="load@window->home-page--scrollbar#scrollbarStart">

  <div class="server-region-selection">
    <%= render 'servers/server_region_pick' %>
  </div>

  <section class="section">
    <%= render 'home/tutorial' %>
  </section>

  <% if @groups.count > 0 %>
    <%= render 'home/last_made_groups' %>
  <% else %>
    <%= render 'home/test_groups' %>
  <% end %>
</main>
