@import 'normalize.css'
@import 'bulma'

html
  scroll-behavior: smooth
  overflow-y: auto

  body
    color: #ababab
    background-color: #211b17
    display: flex
    flex-direction: column
    height: 100vh


.vertical-center-content
  align-items: center

.footer
  background-color: #211b17

.checkbox:hover
  color: #fff
