<header class="">
  <div class="container">
    <% if current_user %>
      <h4><%= current_user.username%></h4>
      <a href="/logout">Logout</a>
    <% else %>
      <a href="/auth/bnet">Sign In</a>
    <% end %>
  </div>
</header>
